
body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 50%;
}

#hero {
    background-image: url("images/tbilisi.png");
    background-size: cover;
    color: #f1faee;
    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 32px;
    background: #f9bec7;
    padding: 8px;
    border-radius: 15px;
    text-shadow: 0 0 19px #3d2645;
    
}

#slogan {
    font-size: 18px;
    text-shadow: 0 0 8px #3d2645;
}

.activities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 40px 0;
}

.tbilisi-act {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

h3 {
    margin: 0px;
    padding: 20px;
    flex: 1 0 300px;
}

.caption {
    font-weight: bold
}

#activities {
    background-color: #dfe7fd;
    width: 100%;
    color: #003049;
}

.ketusha {
    border-radius: 15px;
    width: 150px;
    padding: 5px;
}

#guide {
    width: 400px;
    margin: 50px auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    text-align: center;
    background: #f9bec7;
    color: #3d2645;
    text-shadow: 0 0 9px white;
    border-bottom: 6px solid #3d2645;
    border-radius: 5px;
}

